<template>
  <main-layout>
	  <div class="container">
		<p>Компонент выпадающего списка</p>
		<div>
		  <multiselect v-model="value" tag-placeholder="Добавить как новый тег" placeholder="Поиск или добавление тега" label="name" track-by="code" :options="options" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
		  <div class="selectedvalues">
			  <span v-for="(value, index) in value">
				<span v-if="index != 0">, </span><span>{{ value.name }}</span>
			  </span>
		  </div>
		</div>
	  </div>
  </main-layout>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'
  import Multiselect from 'vue-multiselect'

  export default {
	components: {
	  MainLayout,
	  Multiselect
	},
	data () {
	return {
	  value: [
		{ name: 'Легковой автомобиль', code: 'au' }
	  ],
	  options: [
		{ name: 'Мотоцикл', code: 'mo' },
		{ name: 'Грузовик', code: 'gr' },
		{ name: 'Тягач', code: 'tr' },
		{ name: 'Трактор', code: 'tc' },
		{ name: 'Прицеп', code: 'pr' },
		{ name: 'Велосипед', code: 'bi' },
		{ name: 'Самокат', code: 'sk' },
		{ name: 'Гироскутер', code: 'gs' },
		{ name: 'Скейтборд', code: 'sb' },
		{ name: 'Электричка', code: 'el' }
	  ]
	}
	},
	methods: {
		addTag (newTag) {
		  const tag = {
			name: newTag,
			code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
		  }
		  this.options.push(tag)
		  this.value.push(tag)
		}
	  }
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .selectedvalues{
	padding: 10px!important;
	margin: 10px 0!important;
	border: 1px #e8e8e8 solid;
	border-radius: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
