<template>
  <main-layout>
	<div class="container">
	<p>Компонент таблицы</p>
		<vue-table-dynamic 
		  :params="params" 
		  @select="onSelect" 
		  @selection-change="onSelectionChange"
		  @cell-change="onCellChange"
		  ref="table">
		</vue-table-dynamic>
	</div>
  </main-layout>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'
  import VueTableDynamic from 'vue-table-dynamic'
  
  const random = () => {
    return parseInt(Date.now() + Math.random() * 10000000).toString(16).slice(-6)
  }
  
  export default {
  components: {
      MainLayout,
	  VueTableDynamic
    },
	data() {
    return {
      params: {
        data: [
           ['Номер', `Набор цветов 1`, `Набор цветов 2`, `Набор цветов 3`]
        ],
		filter: [{
          column: 0, 
          content: [{text: '> 2', value: 2}, {text: '> 4', value: 4}, {text: '> 8', value: 8}, {text: '> 20', value: 20}], 
          method: (value, tableCell) => { return tableCell.data > value }
        }],
		
        header: 'row',
        border: true,
		stripe: true,
		showCheck: true,
		enableSearch: true,
		sort: [0, 1, 2],
		pagination: true,
        pageSize: 5,
        pageSizes: [5, 10, 20, 50],
		edit: {
          row: [1],
          column: [1],
          cell: [[-1, -1]]
        }
      }
    }
   },
   methods: {
    onSelect (isChecked, index, data) {
      console.log('onSelect: ', isChecked, index, data)
      console.log('Checked Data:', this.$refs.table.getCheckedRowDatas(true))
    },
    onSelectionChange (checkedDatas, checkedIndexs, checkedNum) {
      console.log('onSelectionChange: ', checkedDatas, checkedIndexs, checkedNum)
    },
	onCellChange (rowIndex, columnIndex, data) {
      console.log('onCellChange: ', rowIndex, columnIndex, data)
      console.log('table data: ', this.$refs.table.getData())
    }
  },
  mounted () {
    for (let i = 0; i < 100; i++) {
      this.params.data.push([i+1, `${random()}`, `${random()}`, `${random()}`])
    }
  },
};

</script>
