<template>
  <div class="container">
    <ul class="menu">
      <li>
        <v-link style="margin-left:-10px;" href="/">Выпадающий список</v-link>
        <v-link href="/table">Таблица</v-link>
      </li>
    </ul>

    <slot></slot>
  </div>
</template>

<script>
  import VLink from '../components/VLink.vue'

  export default {
    components: {
      VLink
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
	max-width: 800px;
    margin: 0 auto;
    padding: 15px 30px;
  }
  .menu{
	list-style: none;
  }
</style>
